header{
    background: black;
    color: white;
    overflow: hidden;
    padding: 15px 15px;
}

header a {
    float: left;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbutton {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

header a:hover, .dropdown:hover .dropbutton {
    background-color: red;
}
    

.dropcontent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black
}


.dropcontent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropcontent {
    display: block;
}

.map {
    width = 700px;
    height = 500px;

}

main img {
    width: 100%;
}

body {
    margin: 0;
}