.container {
    width: 100%;
    background-color: aliceblue;
    position: relative;
    /*font-family: 'Allerta', "Courier New", "Lucida Console", sans-serif;*/
    font-family: "Duru Sans", "Courier New", "Lucida Console", sans-serif;
       
} 

body {
    margin: 0; 
}
.parallax {
     background-image: url("https://www.irishtimes.com/polopoly_fs/1.2752055.1470861459!/image/image.jpg_gen/derivatives/box_620_330/image.jpg");
        margin: 0 auto;
        height: 100%;
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* https://www.w3schools.com/howto/howto_css_parallax.asp */

header{
    background: black;
    color: white;
    overflow: hidden;
    padding: 15px 15px;
    height: 80px;
}


header h1 {
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    color: lightblue;
    font-size: 45px;
}

#weatherIcon{
    position: relative;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
    max-height: 90%;
    max-width: 20%;
}

#weather {
    position: relative;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    max-height: 90%;
    max-width: 50%;
    font-size: 15px;
}


.select {
    width = 700px;
    height = 500px;
    
}

a {
    text-decoration: none;
    color: azure;
}

ul li {
    list-style-type: none; 
    color: black;
}


a:hover {
    color: aquamarine;
}
.wrapper {
    text-align: center;
    margin-bottom: 30%;
    margin-top: 12%;
    margin-left: 10%;
    margin-right: 10%; 
}
.wrapper1 {
    text-align: center;
    margin-bottom: 30%;
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 10%; 
}

/*https://stackoverflow.com/questions/11799159/trying-to-align-html-button-at-the-center-of-the-my-page */
.button1, .button2 {
    display: inline-block;
    text-align: center;
    background: rgba(220, 238, 254, 0.8);
    border-radius: 2px;
    width: 320px;
    height: 70px;
    font-size: 30px;
    line-height: 65px;
    margin-top: 6%; 
}

#check {
    display: inline-block;
    text-align: center;
    background: darkslateblue;
    border-radius: 2px;
    font-size: 10px;
    color: #fff;
}
#check:hover {
    background-color: #02b8dd;
    color: #fff;
}
#graph {
    margin-top: 10%; 
    background: rgba(220, 238, 254, 0.7);
    margin-left: 16%;
    margin-right: 12%;
}

.button1:hover, .button2:hover {
    background-color: #02b8dd;
    color: #fff;
}


#trends {
    width: 1000px;
    height: 70px;
    font-size: 30px;
    line-height: 65px;
    margin-left: 10%;
    margin-top: 20%;
}
form {
    margin-top: 10%; 
    background: rgba(220, 238, 254, 0.7);
    margin-left: 16%;
    margin-right: 12%;

}
form ul li {
    display: inline-block;
    text-align: left;
    /* background: #D1F4F5; */
    width: 60%;
    height: 40%;
    font-size: 20px;
    line-height: 20px;
    border-radius: 2px;
    margin-left: 16%; 
}


#start {
    margin-top: 5%;
}
 
#mapdiv {
    margin-top: 7%;
    
}

#test {
    display: inline-block; 
    float: right;
    margin-left: 30%;
    margin-top: 0%;
    width: 40%;
    height: 40%;
    font-size: 20px;
    background: rgba(220, 238, 254, 0.7);
    
}

#check {
    display: inline-block; 
    margin-right: 20%;
    margin-top: 3%;
    margin-left: 55%; 
}
#bike, #station {

    border: none;
    color: black;
    padding: 1px 3px;
    text-align: center;
    display: inline-block;
    font-size: 29px;
    margin: 4px 2px;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: bold;
}
.button .check {
    width: 1000px;
    height: 70px;
    font-size: 30px;
    line-height: 65px;
    margin-left: 10%;
    margin-top: 1%;

}

.button3:hover, .button4:hover {
    background-color: #02b8dd;
    color: #fff;
}
.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbutton {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#display {
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    width: 1000px;
    height: 70px;
    font-size: 30px;
    line-height: 65px;
    margin-left: 10%;
    margin-top: 5%;
    
}
header a:hover, .dropdown:hover .dropbutton {
    background-color: red;
}
    

.dropcontent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black
}


.dropcontent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropcontent {
    display: block;
}

.map {
    width = 700px;
    height = 500px;

}

main img {
    width: 100%;
}

body {
    margin: 0;
}
